* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: rgb(243, 153, 120);
}

body h1 {
    text-align: center;
    color: beige;
}

body h2 {
    text-align: center;
    color: rgb(160, 250, 253);
}

p {
    text-align: center;
}

img {
    margin-left: 30%;
}

.link-container {
    text-align: center;
}

.link-container a {
    color: rgb(3, 95, 107);
    display: inline-block;
    width: 100px;
    margin: 2em;
    padding: 1em;
    background-color: rgb(235, 174, 43);
    border: 2px solid cyan;
    font-size: large;
}

ul, ol {
    margin-left: 40%;
}